<!DOCTYPE html>
<html>

		{% if ( a!=null ) %}
			<p>pour ce nombre de lignes cela coutera {{ prix * a }} €</p>
		
		{% else  %}
			<p>veuillez entrer le nombre de ligne dans l'url</p>
		{% endif %}		

</html>
