body
{
	margin:0px;
	padding:0px;
	background-image:url(img/fond.jpg);
	background-position:top;
	background-attachment:fixed;
	background-repeat:repeat-x;
    text-decoration: none;
}

#footerpage
{
    background-color:#E3EFEE;
    height: 30px;
    margin-left: -0px;
    margin-top: 20px;
    width: 1000px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	font-size:14px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
}

#footer
{
    background-color:#E3EFEE;
    float: left;
    height: 30px;
    margin-left: -0px;
    margin-top: 20px;
    width: 1000px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	font-size:14px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
}

a
{
	color: #06F;
	text-decoration:none;
	font-size:14px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover
{
	color: #06C;
	text-decoration:none;
	font-size:14px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow : 1px 1px 1px #aaa;
}

#page
{
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 14px;
	min-height:200px;
	width:1000px;
	margin: auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background-color:#E3EFEE;
	margin-bottom:20px;
}

#pagequestion
{
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 14px;
	min-height:200px;
	width:1200px;
	margin: auto;
	height:1350px;
	background-color:#fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background-color:#E3EFEE;
	margin-bottom:20px;
}

#pageresult
{
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 14px;
	min-height:200px;
	width:1200px;
	margin: auto;
	height:700px;
	background-color:#fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background-color:#E3EFEE;
	margin-bottom:20px;
}

#pageresult2
{
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 14px;
	min-height:200px;
	width:1200px;
	margin: auto;
	height:700px;
	background-color:#fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	background-color:#E3EFEE;
	margin-bottom:20px;
}




#header
{
	margin-top:20px;
	width:1000px;
	height:150px;
	padding:20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#images
{
	width:125px;
	padding:50px;

	text-align: center;
}

img
{
	margin: 5px;
}

.mini
{
	width: 100px;
}
#charbo img 
{
	display: none;
}
#charbo:hover {
  background-image:url("../calques/charbon2.jpg");
}
#charbo
{
	width:750px;
	height:700px;
	width:80%;
	display:block;
	background-image:url("../calques/charbon.jpg");
}

#rougeg img 
{
	display: none;
}
#rougeg:hover {
  background-image:url("../calques/rougegorge2.jpg");
}
#rougeg
{
	width:600px;
	height:450px;
	display:block;
	background-image:url("../calques/rougegorge.jpg");
}

#etourneau img 
{
	display: none;
}
#etourneau:hover {
  background-image:url("../calques/etourneau2.jpg");
}
#etourneau
{
	width:600px;
	height:450px;
	display:block;
	background-image:url("../calques/etourneau.jpg");
}

#faucon img 
{
	display: none;
}
#faucon:hover {
  background-image:url("../calques/faucon2.jpg");
}
#faucon
{
	width:600px;
	height:450px;
	display:block;
	background-image:url("../calques/faucon.jpg");
}

#geai img 
{
	display: none;
}
#geai:hover {
  background-image:url("../calques/geai2.jpg");
}
#geai
{
	width:500px;
	height:280px;
	display:block;
	background-image:url("../calques/geai.jpg");
}

#longuequeue img 
{
	display: none;
}
#longuequeue:hover {
  background-image:url("../calques/longuequeue2.jpg");
}
#longuequeue
{
	width:500px;
	height:922px;
	display:block;
	background-image:url("../calques/longuequeue.jpg");
}

#pigeon img 
{
	display: none;
}
#pigeon:hover {
  background-image:url("../calques/pigeon2.jpg");
}
#pigeon
{
	width:600px;
	height:350px;
	display:block;
	background-image:url("../calques/pigeon.jpg");
}

#merlef img 
{
	display: none;
}
#merlef:hover {
  background-image:url("../calques/merlef2.jpg");
}
#merlef
{
	width:600px;
	height:400px;
	display:block;
	background-image:url("../calques/merlef.jpg");
}

#merlem img 
{
	display: none;
}
#merlem:hover {
  background-image:url("../calques/merlem2.jpg");
}
#merlem
{
	width:600px;
	height:350px;
	display:block;
	background-image:url("../calques/merlem.jpg");
}

#mesbleu img 
{
	display: none;
}
#mesbleu:hover {
  background-image:url("../calques/mesbleu2.jpg");
}
#mesbleu
{
	width:600px;
	height:450px;
	display:block;
	background-image:url("../calques/mesbleu.jpg");
}

#mesangenoire img 
{
	display: none;
}
#mesangenoire:hover {
  background-image:url("../calques/mesangenoire2.jpg");
}
#mesangenoire
{
	width:600px;
	height:530px;
	display:block;
	background-image:url("../calques/mesangenoire.jpg");
}

#grosbec img 
{
	display: none;
}
#grosbec:hover {
  background-image:url("../calques/grosbec2.jpg");
}
#grosbec
{
	width:600px;
	height:440px;
	display:block;
	background-image:url("../calques/grosbec.jpg");
}

#pie img 
{
	display: none;
}
#pie:hover {
  background-image:url("../calques/pie2.jpg");
}
#pie
{
	width:600px;
	height:400px;
	display:block;
	background-image:url("../calques/pie.jpg");
}

#pivert img 
{
	display: none;
}
#pivert:hover {
  background-image:url("../calques/pivert2.jpg");
}
#pivert
{
	width:600px;
	height:300px;
	display:block;
	background-image:url("../calques/pivert.jpg");
}

#rougequeue img 
{
	display: none;
}
#rougequeue:hover {
  background-image:url("../calques/rougequeue2.jpg");
}
#rougequeue
{
	width:600px;
	height:500px;
	display:block;
	background-image:url("../calques/rougequeue.jpg");
}

#tourterelle img 
{
	display: none;
}
#tourterelle:hover {
  background-image:url("../calques/tourterelle2.jpg");
}
#tourterelle
{
	width:600px;
	height:500px;
	display:block;
	background-image:url("../calques/tourterelle.jpg");
}

#pinson img 
{
	display: none;
}
#pinson:hover {
  background-image:url("../calques/pinson2.jpg");
}
#pinson
{
	width:600px;
	height:350px;
	display:block;
	background-image:url("../calques/pinson.jpg");
}

#sitelle img 
{
	display: none;
}
#sitelle:hover {
  background-image:url("../calques/sitelle2.jpg");
}
#sitelle
{
	width:600px;
	height:400px;
	display:block;
	background-image:url("../calques/sitelle.jpg");
}

#corneille img 
{
	display: none;
}
#corneille:hover {
  background-image:url("../calques/corneille2.jpg");
}
#corneille
{
	width:600px;
	height:400px;
	display:block;
	background-image:url("../calques/corneille.jpg");
}

#retour
{
	position: fixed;
	bottom: 70px;
}