#page
{
	background-color:#dbeaf9 no-repeat center fixed; 
	font-family:"Open Sans";
	margin:0;
	padding:0;

	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	overflow-y:hidden;
	overflow-x:hidden;
}

#fleche_gauche

{
display:none;
}

#sites
{margin-top:5px;}

#imagecarrou
{
	margin: 0 auto;
	width:600px;
}

#bloc
{

width:  900px;
max-height:500px;
background-color: rgba(255, 255, 255, 0.5);

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	overflow-y :scroll;
	overflow-x:hidden;	

}

#header
{
width:  900px;
margin-top:20px;


	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
text-align:center;
	}
#footer
{
height:25px;
width:  900px;
margin-top:1%;
background-color: rgba(255, 255, 255, 0.5);

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
text-align:center;
	

}
#header
{
height:65px;
}
#exp li
{
margin-top:5px;
}

#logo
{
min-height:100px;

background-color: rgba(0, 255, 255, 0.5); 

}

#bloc-Identite
{
background-color: rgba(255, 255, 255, 0.5);
height:100px;
}

#menu-haut
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;


margin:10px;
}

#btn
{
	min-width:35px;
}

#produit
{
padding:20px;
min-height:100px;
margin:10px;
background-color: rgba(51, 123, 145, 0.5); 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}

#photo
{
min-height:50px;
margin:25px;
background-color: rgba(255, 255, 255, 0.5); 

}
#menu-haut div {
margin:5px;
}

#agenda
{
padding:20px;
padding-top:10px;
min-height:100px;
margin:25px;
background-color: rgba(85, 206, 37, 0.5); 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;

}

#titre
{
text-align: center;
}

#ong
{ 
margin: auto;
padding: 0; 
float: left; 
list-style: none; 
height: 30px; 
border-bottom: 1px  #666; 
border-left: 1px  #666; 
width: 600px; 
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	-o-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;

}
#basdroite
{
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	-o-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	}
#ong li 
{ 
float: left; 
margin: 0; 
padding: 0; 
height: 29px; 
line-height: 29px; 
border: 1px  #666; 
border-left: none; 
margin-bottom: -1px; 
overflow: hidden; 
position: relative; 
background: #ddd;
}



#ong li a 
{ 
text-decoration: none; 
color: #888; 
display: block; 
font-family: "Trebuchet MS"; 
font-size: 14px; 
padding: 0 20px;
}

#ong li a:hover 
{
background: #ccc;
color: #666;
}

.ui-tabs .ui-tabs-nav li.ui-state-active 
{ 
cursor: text; 
color: #666; 
border-bottom: 1px solid #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a 
{ 
position: relative; 
background: #fff; 
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a 
{
cursor: pointer; 
}

.ui-tabs .ui-tabs-panel 
{ 
display: block; 

border-top: none; 
overflow: hidden; 
clear: both; 
float: left; 


margin: 0; 
padding: 10px 10px 0; 

}

.ui-tabs .ui-tabs-hide 
{ 
display: none !important ;
}




 *{        
        padding:0;
        margin:0;
        list-style-type:none;
      }
      #slider{
		width:880px;
        height:400px;
       /*margin:50px auto;*/
        position:relative;
      }
      #mask{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
      }
      .fleche{
        position:absolute;
        top:145px;
        cursor:pointer;
      }
      #fleche_gauche{
        left:-17px;
      }
      #fleche_droite{
        right: 0px;
      }
      #image_container{
        position:absolute;
        height:100%;
        /* La transition sur tout les navigateurs */
           /* Chrome */ 
          -webkit-transition-property:all;
          -webkit-transition-duration:1s;

           /* Firefox */ 
          -moz-transition-property:all;
          -moz-transition-duration:1s;
          
           /* Opera */ 
          transition-property:all;
          transition-duration:1s;

      }
      
      /* Les différentes positions du slider */
      .image1 #image_container{
        left:0;
      }
      .image2 #image_container{
        left:-100%;
      }
      .image3 #image_container{
        left:-200%;
      }
      .image4 #image_container{
        left:-300%;
      }
      
      /* Les images */
      #image_container li{
        float:left;
      }
      
      /* L'encart Bleu */
      #encart{
        position:absolute;
        top:-15px;
        left:200px;
        background:url('resources/text.png');
        width:328px;
        height:396px;
      }
      
      #bouton{
        position:relative;
        width:244px;
        height:55px;
        margin: 300px 0px 0px 40px;
        cursor:pointer;
      }
      
      /* Les points de navigation */
      #dots{
        position:absolute;
        width:130px;
        height:15px;
        left:425px;
        bottom:-25px;
      }
      
      /* les points, avec leur background non selectionné */
      #dots li{
        float:left;
        margin: 0px 2px;
        width:12px;
        height:12px;
        background: url('resources/empty-dot.png');
        cursor:pointer;
      }
      /* Point au survol */
      #dots li:hover{
        background: url('resources/selected-dot.png');
      }
      
      /* Point "selectionné". De la même manière que l'image, on change en fonction de la classe de slider */
      .image1 #dots li.button1, .image2 #dots li.button2, .image3 #dots li.button3, .image4 #dots li.button4{
        background: url('resources/selected-dot.png');
        cursor:normal;
      }

      /* Un eyecandy */
      #glass{
        position:absolute;
        top:0px;
        left:0px;
      }